body {
  background-color: black;
  color: white;
}

img {
  margin-top: 5px;
  width: 250px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

h4 {
  color: #e34977;
  margin-bottom: 5px;
}

h1 {
  font-family: 'Audiowide', cursive;
}

a {
  color: #3dd451;
}