<p>Feeling on top of the world and ready to tell everyone? Want to warn your friends to give you a little space today?</p>
<h4>type in your mood and have it translated into gifs</h4>
<form action="/results" method="post" class="form-inline mt-10">
  <input type="text" name="mood">
  <input type="submit" class="btn btn-sm btn-primary btn-lg ml-10">
</form>
<br>
<p>Or browse the <a href="/moods">saved gifs</a></p>
