<h3>Here are some giphs to help you express how <%= @mood %> you are feeling:</h3>
<form action="/save" method="post">
  <div class="row">
    <input type="hidden" name="mood" value="<%= @mood %>">
    <% @photo_urls[0..5].each do |url| %>
      <div class="col-xs-12 col-md-6">
        <input type="radio" name="url" value="<%= url %>">
        <img src="<%= url %>">
      </div>
    <% end %>
  </div>
  <input type="submit" class="btn btn-primary btn-lg mt-25 ml-10" value="Save for Later">
</form>
